<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    
    <appender name="pdfitextexample_CONSOLA" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="conversionPattern" value="%d %-5p %C{1} - %m%n"/>
        </layout>
    </appender>
    
    <logger name="com.irs.pdfitextexample" additivity="false">
        <level value="debug"/>
        <appender-ref ref="pdfitextexample_CONSOLA"/>
    </logger>
</log4j:configuration>